accelerate==0.30.1
apex==0.9.10dev
beautifulsoup4==4.12.3
comet_ml==3.43.2
decord==0.6.0
diffusers==0.24.0
diffusers==0.28.0.dev0
einops==0.8.0
flash_attn==2.5.9.post1
ftfy==6.2.0
gradio==4.37.1
huggingface_hub==0.23.1
imageio==2.34.1
mmcv==1.7.0
numpy==2.0.0
omegaconf==2.3.0
pandas==2.2.2
peft==0.6.2
Pillow==10.3.0
timm==0.6.12
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.40.2
xformers==0.0.26.post1
